extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Real
            span.font-normal Estate
        h2.text-center.text-3xl.font-extrabold= pagina
        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5

                    div         
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Tu Email
                        input#email.w-full.px-4.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Email" type="email" name="email")

                    div.flex.items-center.justify-between    
                        a.text-gray-500.text-xs(href="/auth/register") ¿No tienes cuenta? Registrate.
                        a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión.

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Recuperar Password")

    