extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Real
            span.font-normal Estate
        h2.text-center.text-3xl.font-extrabold= pagina 
        
        a(href="/properties/create" class="rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-700 text-sm font-bold \
        text-center text-white uppercase my-5 inline-block w-full sm:w-auto" ) Share properties