header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Real
            span.font-normal Estate
        nav(class="my-5 text-sm md:flex md:items-center md:gap-4 font-bold text-white")
            a(href="") My properties
            a(href="") My profile    
            a(href="" class="bg-indigo-800 rounded-lg py-2 px-8 ") Sign out  
