doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Real Estate | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-gray-100 
        main(class="mx auto container mt-10 px-2")
            block contenido